@font-face {
    font-family: 'BalloonRegular';
    src: url('bl______.eot');
    src: url('bl______.eot') format('embedded-opentype'),
         url('bl______.woff') format('woff'),
         url('bl______.ttf') format('truetype'),
         url('bl______.svg#BalloonRegular') format('svg');
}
