@font-face {
    font-family: 'BalloonRegular';
    src: url('bl______.eot');
    src: url('bl______.eot') format('embedded-opentype'),
         url('bl______.woff') format('woff'),
         url('bl______.ttf') format('truetype'),
         url('bl______.svg#BalloonRegular') format('svg');
}

body {background-color:#4e97c8; font-family:Arial, Helvetica, sans-serif; color:#303030; font-size:14px; margin:0px auto;}

h1 {font-family: 'BalloonRegular', serif; font-weight:normal; font-size:36px; color:#f29400; line-height:38px;}
h2 {font-family: 'BalloonRegular', serif; font-size:18px; font-weight:normal; color:#0a71b4; }
h3 {font-size:16px; font-weight:bold; color:#333;}
h3 a {font-size:16px; font-weight:bold; color:#333; text-decoration:none}
h4 {font-size:18px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#f29400; font-weight:lighter; margin-top:-25px;}
.break {clear:both;}

#wrapper {margin:0px auto;}
#header {position: relative; background-color:#fff; height:120px; border:1px solid #ccc; z-index:99999;

-webkit-box-shadow: 0 -2px 10px 2px #555;
box-shadow: 0 -2px 10px 2px #555;}
.logo {float: left; background-image:url(../media/logo.png); width:252px; height:60px; margin-left:85px; margin-top:15px;}
.dash {background-image:url(../media/dash.gif); background-repeat:repeat-x; height:15px; margin-top:10px;}

/*** NAVIGATION & MEGAMENU ***/
.navigation { position:absolute; right:180px; top:40px; list-style:none; padding:0px 20px 0px 20px;}
.navigation li { float:left; display:block; text-align:center; position:relative; padding: 4px 10px 4px 10px; margin-right:30px; margin-top:7px;}
.navigation li:hover { background: #fff;}
.navigation li a { color: #303030; display:block; text-decoration:none; }
.navigation li:hover a { color:#0a72b5;}
.navigation li .drop { padding-right:21px; background:url("img/drop.png") no-repeat right 8px;}
.navigation li:hover .drop { background:url("img/drop.png") no-repeat right 7px;} 
.dropdown_4columns {margin:4px auto; float:left; position:absolute; left:-999em; /* Hides the drop down */ text-align:left; padding:10px 5px 10px 5px; border:1px solid #ccc; background:#fff;
-webkit-border-radius: 0px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;}
.dropdown_4columns {width: 560px;}
.navigation li:hover .dropdown_4columns {left:-1px;top:auto;}
.col_1 { display:inline; float: left; position: relative; margin-left: 5px; margin-right: 5px;}
.col_1 {width:130px;}
.navigation p, .navigation h2, .navigation h3, .navigation ul li { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:21px; font-size:12px; text-align:left; text-shadow: 1px 1px 1px #FFFFFF;}
.navigation h2 { font-size:21px; font-weight:400; letter-spacing:-1px; margin:7px 0 14px 0; padding-bottom:14px; border-bottom:1px dashed #ccc;}
.navigation h3 { font-size:14px; margin:7px 0 14px 0; padding-bottom:7px; border-bottom:1px solid #303030; }
.navigation p { line-height:18px; margin:0 0 10px 0;}
.navigation li:hover div a { font-size:12px; color:#0a72b5;}
.navigation li:hover div a:hover {color:#f29400;}
.navigation li ul { list-style:none; padding:0; margin:0 0 12px 0;}
.navigation li ul li { font-size:12px; line-height:24px; position:relative; text-shadow: 1px 1px 1px #ffffff; padding:0; margin:0; float:none; text-align:left; width:130px; }
.navigation li ul li:hover { background:none; border:none; padding:0; margin:0; }


/*** CONTENT ***/
#content {position: relative; margin:0px auto;  width:910px; margin-top:-30px; padding-bottom:50px; 
border:1px solid #ccc; background-color:#fff; z-index:99;

-webkit-box-shadow: 0 -3px 8px 1px #555;
box-shadow: 0 -3px 8px 1px #555}
#content .text {margin:50px 0px 40px 20px; width:850px; }
#content .text a {color:#0a72b5; text-decoration:none;}
#content .text a:hover {color:#f29400;}
#content .text p {margin-top:0px; color:#303030; font-size:12px; line-height:21px;}
#content .text span {font-weight:bold; color:#0a71b4;}
#content .text .left {width:480px; line-height:24px; float:left; padding-right:40px; border-right:1px solid #303030;}
#content .text .right {width:280px; float:right; padding-left:10px; margin-top:-35px;}
#content .text .right2 {width:280px; float:right; padding-left:10px; margin-top:-5px; }
#content .text ul {list-style:none; padding:0px; padding-top:20px; margin:0px;}
#content .text li {padding-bottom:15px;}
#content .text li a {color:#f29400; text-decoration:none;}
#content .text li a:hover {color:#0a72b5;}
		
/*** SLIDER ***/
#slider {  width: 862px; margin-top:80px; margin-left:20px; border:1px solid #ccc;

-webkit-box-shadow: 0 4px 8px 1px #777;
box-shadow: 0 4px 8px 1px #777}
#slider .text {padding:10px 20px 10px 10px; width:860px;}
#s3slider {
   width: 862px; /* important to be same as image width */
   height: 300px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */}
#s3sliderContent {
   width: 862px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */}
.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
   margin:0px;
   padding:0px;
   left:-40px;
   top:-14px;
}
.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 0px;
   display: none; /* important */
   top: 0;
}
#slider .content {margin:0px 0px 40px 20px; }
#slider .content  .button_marken {background-color:#0a71b4; padding:10px; height:20px; width:220px; border-radius: 10px; border:1px solid #03F;}
#slider .content  .button_marken a {color:#fff; font-family: 'lobster_1.3regular', serif; font-size:21px; text-decoration:none; line-height:20px;}
#slider .content  .button_marken a:hover {color:#03F; text-decoration:none;}

#slider .text a {color:#333; text-decoration:none;}
#slider .text li {color:#333; padding-bottom:5px;}

/*** OVERLAY ***/
#overlay {border:1px solid #ccc; position:relative; padding:10px 0 0 55px; z-index:99999; width:920px; height:160px; background-color:#fff; margin-left:-35px;

-webkit-box-shadow: 0 2px 8px 0 #888;
box-shadow: 0 2px 8px 0 #888;}

.group {border: 1px solid #ccc; width:150px; height:150px; float:left; margin-right:25px;}
.group img {vertical-align:middle;}
.group img:hover {

-webkit-box-shadow: 0 2px 10px 1px #ccc;
box-shadow: 0 2px 10px 1px #ccc;}

/*** PRODUCT GROUPS ***/
.group_container {width:850px; margin:30px 0 40px 20px;}
.product_gr {border:1px solid #ccc; width:190px; height:200px; float:left; margin-right:20px;}
.dash_gr {background-image:url(../media/dash.gif); background-repeat:repeat-x; width:830px; height:15px; margin:0 0 40px 20px;}
/*** SUBCATEGORIES ***/
#product_sub1 {border:1px solid #ccc; width:830px; height:200px; display:none; margin:10px 0 20px 20px; padding:0 0 10px 10px;}
#product_sub2 {border:1px solid #ccc; width:830px; height:200px; display:none; margin:10px 0 20px 20px;}
#product_sub3 {border:1px solid #ccc; width:830px; height:200px; display:none; margin:10px 0 20px 20px;}
#product_sub4 {border:1px solid #ccc; width:830px; height:200px; display:none; margin:10px 0 20px 20px;}
/*** FOOTER ***/
#footer {background-color:#fff; border:1px solid #ccc; position:relative; z-index:9999;

-webkit-box-shadow: 0 2px 10px 2px #555;
box-shadow: 0 2px 10px 2px #555;}

.ft_navigation {width:900px; margin-left:200px; font-size:11px;}
.ft_navigation h3 {font-size:14px;}
.ft_navigation ul {list-style:none; float:left;}
.ft_navigation li a {text-decoration:none; color:#0a72b5;}
.ft_navigation li a:hover { color:#f29400;}
.ft_navigation ul.right {margin-left:55px;}